input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
/* Show map with default Setting Copenhagen - Only for development purpose as billing is disabled*/
/* Map style - height and width */
/* #map {
    height: 50%; 
    width: 50%;
    }
/* Optional: Makes the sample page fill the window. */
html, 
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
            }
body {
    background: lightgray;
}

#Container {
    height: 100%
}

#Header {
    height: 20%;
    width: 100%;
    margin-bottom: 10px;
}

#Body {
    height: 100%;
    background: linear-gradient(90deg, rgb(245, 205, 212) 50%, rgb(225, 226, 226) 50%);
}

#map {
    height: 50%;
    margin-left: 2mm;
    margin-top: 2mm;
    }

#wishlist {
    float: right;
    width: 20%;
    background-color: black;
    color: white
}

#logout {
    float: right;
    width: 20%;
    background-color: black;
    color: white
}

#cartTable {
    table-layout: auto;
    width: 100%;  
    cursor: pointer;
  }
/* Can this code be implemented in table?
  .list li:hover:after,
  .list li.fav:after {
    content: ' \2605';
    color: rgb(255, 203, 0);
  }
  .list li.fav:hover:after {
    content: ' \2606';
  }
  */

th {
    border: 1px solid black;
 } 