*
{
    margin: 0;
    padding: 0;
}

/* linking css style to the "header" in index.html */
    /* header */
    /* header div.baby
    {
        background-image: url(../images/Baby_diaper.jpg);
        height: 100%;
        position: absolute;
        width: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        filter: alpha(opacity=20);
    } */
    
    /* 
    stack order of elements - "z-index"
    */
    header {
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(../Images/Baby_diaper.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: 100px;
    }

    .main-nav li {
    display: inline-block;
    }

    .main-nav li a {
    color: black;
    text-decoration: none;
    padding: 30px;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
    }

    .main-nav li a:hover {
    border: 1px solid black;
    }

    h1 {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;  
        margin-top: 25px;
        margin-left: 25px;
    }

    .box1 {
        padding-top:260px;
        float: left;
    }
    .button1 {
        font-family: Arial, Helvetica, sans-serif
        
    }

    .box2 {
        padding-top: 260px;
        float: right;
    }

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer; }