*
{
    margin: 0;
    padding: 0;
}

/* linking css style to the "header" in index.html */
    /* header */
    header div.baby
    {
        background-image: url(../images/Baby_diaper.jpg);
        height: 100%;
        position: absolute;
        width: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }
    
    /* header */

    /* .img.baby {
        background-image: url(../Images/Baby_diaper.jpg);
        height: 800px;
        background-size: cover;
        background-position: center; */
        
    /* } */

    .main-nav
    {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: 100px;

    }

    .main-nav li 
    {
        display: inline-block;
          }

    .main-nav li a {
        color: black;
        text-decoration: none;
        padding: 30px;
        font-family: "Helvetica", sans-serif;
        font-size: 15px;
    }

    /* .main-nav li.active a {
        border: solid white;
        border-width: 1px;

    } */

    .main-nav li a:hover {

        border: 1px solid black;
    }