*
{
    margin: 0;
    padding: 0;
}

/* linking css style to the "header" in index.html */
    header
    {
        background-image: url(../images/DiapersOnDemandBG.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .main
    {


    }